<nav class="navbar navbar-dark bg-info">
  <div class="title">Principles of Big Data Management - Project</div>
</nav>

<div id="wrapper" class="toggled">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand"> <a href="#">Execute Queries</a> </li>
      <li> <a href="#">Query1</a> </li>
      <li> <a href="#">Query2</a> </li>
      <li> <a href="#">Query3</a> </li>
      <li> <a href="#">Query4</a> </li>
      <li> <a href="#">Query5</a> </li>
      <li> <a href="#">Query6</a> </li>
      <li> <a href="#">Query7</a> </li>
      <li> <a href="#">Query8</a> </li>
      <li> <a href="#">Query9</a> </li>
      <li> <a href="#">Query10</a> </li>
      <li> <a href="#">Query11</a> </li>
      <li> <a href="#">Query12</a> </li>
    </ul>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1>Simple Sidebar</h1>
    </div>
  </div>
</div>
